<%= form_with model: order, url: form_url(order) do |f|%>
    <%= form_group f, :text_field, :sales_order_id %>
    <hr/>

    <div id = "Customer Information">
        <strong>Customer Information</strong>
        <br/><br/>
        <div class="form-group">
            <%= f.label :customer_name %>
            <%= autocomplete f, "customer", Customer.all, list: "names", class: form_control_default %>
        </div>
        <%= form_group f, :text_field, :purchase_order_id %>
        <hr/>
    </div>

    <div id = "Product Information">
        <%= f.fields_for :order_items do |o| %>
            <strong>Product Information</strong>
            <br><br>
            <div class="row">
                <div class="col">
                    <%= o.label :product_id, "Product" %>
                    <%= o.collection_select :product_id, Product.for(current_org), :id, :name, {include_blank: 'Select a Product'}, {class: form_control_default} %>
                </div>
                <div class="col"><%= form_group o, :number_field, :amount %></div>
            </div>
        <% end %>
        <hr/>
    </div>

    <div id ="Dates">
        <div><strong>Dates</strong></div><br>
        <div class="row">
            <div class="col"><%= form_group f, :date_field, :received_on %></div>
            <div class="col"><%= form_group f, :date_field, :due_by %></div>
        </div>
        <hr/> 
    </div> 

    <div id = "Button Strip">
        <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>

    
<% end %>