<div class="row">

    <div class="col-9">
        <div class="card">
            <div class="row">
                <div class="col">
                    <h5 class="text-center card-title">Customer Information</h5>
                </div><!-- Col -->
            </div> <!-- Row -->
            <div class="row">
                <div class="col">
                    <p class="card-body text-center">
                        <%=order.customer.name %>
                    </p>
                </div><!-- Col -->
                <div class="col">
                    <p class="card-body text-center">
                        <%= order.purchase_order_id%>
                    </p>
                </div><!-- Col -->
                <div class="col">
                    <p class="card-body text-center">
                        Other Information
                    </p>
                </div><!-- Col -->
            </div><!-- Row -->
        </div> <!-- Card -->
    </div>

    <div class="col-3">
        <div class="card">
            <h5 class="text-center card-title">Order Status</h5>
            <p class="text-center card-body"><%= order.status %></p>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="row">
                <div class="col">
                    <h5 class="text-center card-body">Product Information</h5>
                    <% order.order_items.each do |o|%>
                    <div class="row">
                        <div class="col">
                          <%= render partial: "order_item", locals: {order_item: o} %>  
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card"><h5 class="text-center card-body">Materials and Alerts</h5><div class="text-center card-body">No alerts to show :)</div></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="text-center card-body">Dates and Deliveries</h5>
            <div class="row">
                <div class="col">
                    <div class="row card-body">
                        <div class="col">Received On:</div>
                        <div class="col"><%= order.received_on %></div>
                    </div>
                    <div class="row card-body">
                        <div class="col">Due By:</div>
                        <div class="col"><%= order.due_by %></div>
                    </div>
                    <div class="row card-body">
                        <div class="col">Time Remaining:</div>
                        <div class="col"><%= time_remaining(order) %></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body text-center"><em>Delivery Address</em></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="row">
                <div class="col text-center"><%= link_to 'Edit', edit_organization_order_path(current_org, @order) %></div>
                <div class="col text-center"><%= link_to 'Back', organization_orders_path(current_org) %></div>
            </div>
        </div>
    </div>
</div>

