<div class="row mt-4">
    <div class="m-5 col">
        <div class="login-main-text">
            <h2>Signup Page</h2>
            <p>Signup from here to create a new account.</p>
        </div>
        <div class="signup-form">
            <%= form_with model: @user, url: signup_path do |f|%>
                <%= form_group f, :text_field, :first_name %>
                <%= form_group f, :text_field, :last_name %>
                <%= form_group f, :text_field, :preferred_name %>
                <%= form_group f, :date_field, :birthdate %>
                <%= form_group f, :text_field, :email %>
                <%= form_group f, :password_field, :password %>
                <%= form_group f, :password_field, :password_confirmation %>
                <%= f.submit "Signup", class: form_control_default %>                
            <% end %>
            <hr>
            <div class="row"><div class="col text-center">OR</div></div>
            <hr><hr>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <%= google_button "Login/Signup" %>
                </div>
            </div>
        </div>
    </div>
</div>
