<%= form_with(model: order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :customer %>
  <%= f.fields_for :customer, order.customers.build do |c| %>
    <% c.label :name %>
    <% c.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %>
