<%= form_with model: product do |f| %>
    <div id="product-basic-information">
        <strong> Basic Information </strong>
        <%= form_group f, :text_field, :name %>
        <%= form_group f, :text_field, :description %>
        <%= form_group f, :text_field, :unit_type %>
        <hr/>
    </div>
    <div id="product-dimensions">
        <strong> Dimensions </strong>
        <%= form_group f, :text_field, :color %>
        <div class="row">
            <div class="col"><%= form_group f, :number_field, :length %></div>
            <div class="col"><%= form_group f, :number_field, :width %></div>
            <div class="col"><%= form_group f, :number_field, :height %></div>
            <div class="col"><%= form_group f, :text_field, :dimension_unit_type %></div>
        </div>
        <div class="row">
            <div class="col"><%= form_group f, :number_field, :weight %></div>
            <div class="col"><%= form_group f, :number_field, :weight_unit_type %></div>
        </div>
        <hr/>
    </div>

    <div id = "Button Strip">
        <%= f.submit class: "form-control" %>    
    </div>
<% end %>
