<div class="jumbotron">
    <div id="title">
        <h2><%= @product.name %></h2>
        <hr>
        <em><%= @product.description %></em>
        <br>
        <hr>
    </div>
    <div class="row">
        <div id="dimensions" class="col">
            <div class="row">
                <div class="col text-right"><strong>Dimensions: </strong></div>
                <div class="col"><%= full_dimensions(@product)%></div>
            </div>
            <div class="row">
                <div class="col text-right"><strong>Weight: </strong></div>
                <div class="col"><%= @product.weight %></div>
            </div>
            <div class="row">
                <div class="col text-right"><strong>Color: </strong></div>
                <div class="col"><%= @product.color %></div>
            </div>
        </div>
        <div id="aggragete" class="col">
            <div class="row">
                <div class="col text-right"><strong>Product on hand: </strong></div>
            </div>
            <div class="row">
                <div class="col text-right"><strong>Products scheduled for build: </strong></div>
            </div>
            <div class="row">
                <div class="col text-right"><strong>Enough Materials to make :</strong></div>
            </div>
            <div class="row">
                <div class="col text-right"><strong>Total Product Available: </strong></div>
            </div>
        </div>
        <div id="product_orders" class="col">
            <div class="row">
                <div class="col"><strong>Associated Open Orders</strong></div>
            </div>
        </div>
    </div>
    <div id="associated materials">
        <hr/><hr/>
        <div class="row">
            <div class="col text-center"><h3>Product Materials</h3></div>
        </div>
        <hr/>
        <div class="row">
            <div class="col">
            <%= form_with model: @blank_product_material, url: product_path(@product), method: "patch" do |f| %>
                <div class="row">
                    <div class="col">
                        <%= f.label :material %>
                        <%= f.collection_select :material_id, @product.available_materials, :id, :name, {include_blank: "Select a Material"}, {class: form_control_default} %>
                    </div>
                    <div class="col">
                        <%= f.label :amount, "Amount Per Product Unit" %>
                        <%= f.number_field :amount, class: form_control_default %>
                    </div>
                </div>
                <div class="row">
                    <%= f.submit "Add Material to Product", class:"btn btn-sm form-control"%>
                </div>  
            <% end %>
            </div>
        </div>
        <table id ="materials-table" class="table table-light">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Material Name</th>
                    <th scope="col">Material ID</th>
                    <th scope="col">Amount</th>
                    <th scope="col">In Stock</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% @current_materials.each do |m| %>
                    <tr>
                        <td></td>
                        <td><%= m.material.name %></td>
                        <td><%= m.material.id %></td>
                        <td><%= m.amount %></td>
                        <td>0</td>
                        <td><%= link_to 'Delete', m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
            </tbody>


        </table>
    </div>

    <div id = "button strip">
        <div class="row">
            <div class="col text-center"><%= link_to 'Edit', edit_product_path(@product) %></div>
            <div class="col text-center"><%= link_to 'Back', products_path %></div>
        </div>
    </div>
</div>

<% console %>