<div class="jumbotron">
    <div id="title">
        <h2><%= @product.name %></h2>
        <hr>
        <em><%= @product.description %></em>
        <br>
        <hr>
    </div>
    <div id="dimensions">
        <%= full_dimensions(@product)%>

    </div>

    <div id = "button strip">
        <div class="row">
            <div class="col text-center"><%= link_to 'Edit', edit_product_path(@product) %></div>
            <div class="col text-center"><%= link_to 'Back', products_path %></div>
        </div>
    </div>
</div>
<% console %>